<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/login}" method="post" th:object="${user}">
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username and password.
        </div>
        <p>UserName: <input type="text" th:field="*{username}" /></p>
        <p>Password: <input type="password" th:field="*{password}" /></p>
        <div class="form-actions">
            <button type="submit" class="btn">Log in</button>
        </div>
    </form>
</body>
</html>